.headtitle{
    font-weight: bold;
    text-decoration: underline;
}

.card_headtitle{
    background-color: wheat;
}

.out_diagram{
    margin-top: 5vh;
    text-align: center;
}

.in_diagram{
    width: 800px;
    height: 750;
    margin-left: auto;
    margin-right: auto;
}